/********************************************************************************************************************************************
	BACKEND specific styles 
	Not shared with the DEFAULT TEMPLATE
********************************************************************************************************************************************/

a {
	color:#0099FF;
	text-decoration:none;
}

a:hover,
a:focus
{
	text-decoration:underline;
}

.clear {
	clear:both;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal !important;
	font-family:'Open Sans', Arial, sans-serif;
}

	h1 {
		color:white;
		font-size:32px;
		line-height:32px;
		margin:15px 0;
		/*text-shadow:1px 1px 1px #000;*/
	}
	
	h2 {
		color:#333333;
		font-size:29px;
		line-height:29px;
		/*text-shadow:1px 1px 0 #fff;*/
		margin:10px auto 35px;
		text-align:center;
	}
	
	h3 {
		font-size:17px;
		line-height:19px;
		padding:0;
		/*border-bottom:1px solid #E5E5E5;*/
		font-weight:900 !important;
		margin-bottom:20px;
		text-transform:uppercase;
	}
	
	h4 {
		font-size:13px;
		margin-bottom:20px;
		line-height:18px;
	}

#system_msg {
	padding:10px;
	background:#FFFBE4;
	border-bottom:1px solid #CCCCCC;
}

	#system_msg p {
		margin:0;
	}

#main {
	padding:30px;
}

/********************************************************************************************************************************************
	UPDATE AVAILABLE message bar
********************************************************************************************************************************************/

.update_msg {
	padding:5px !important;
}

	.update_msg p {
		line-height:2.2em !important;
		float:left;
	}

	.update_msg .buttons {
		padding:0 0 0 25px;
		display:inline-block;
		zoom:1;
		margin-top:3px;
	}

	.update_msg ul {
		text-align:right;
	}
	
	.update_msg ul li {
		display:inline-block;
		margin:0 4px;
	}
	
	.update_msg ul li div {
		margin-top:2px;
		display:block;
		background:url(../img/update-icons.png) no-repeat;
		height:24px;
		width:24px;
	}
	
	#update_features_0 div { background-position:0 -24px !important; }
	#update_features_1 div { background-position:0 0 !important; }
	#update_security_0 div { background-position:-24px -24px !important; }
	#update_security_1 div { background-position:-24px 0 !important; }
	#update_important_0 div { background-position:-48px -24px !important; }
	#update_important_1 div { background-position:-48px 0 !important; }

#donations_message {
	background:#0094bb ;
	color:#fff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	margin:20px 20px 0;
	padding:30px;
	font-size:1.1em;
}

	#donations_message h3 {
		margin-top:0;
		font-size:1.5em;
	}
	
	#donations_message p {
		margin-bottom:0;
	}

	#donations_message a {
		color:white;
		font-weight:bold;
	}

/********************************************************************************************************************************************
	HEADER
********************************************************************************************************************************************/

#lonely_logo {
	text-align:center;
}

.branding_unlogged {
	text-align:center;
}

	.branding_unlogged img {
		height:auto;
		width:100%;
		max-width:250px;
	}

#login_logo {
	margin:15px auto;
	text-align:center;
}

.header_shadow {
	clear:both;
	border-bottom:7px solid #CCCCCC;
	-moz-box-shadow:0 5px 5px #E1E1E1;
	-webkit-box-shadow:0 5px 5px #E1E1E1;
	box-shadow:0 5px 5px #E1E1E1;
}

#install_form {
	margin-top:30px;
}

#install_extra {
	margin-top:30px;
	font-weight:bold;
	font-size:11px;
	color:#0099CC;
}

#install_inside {
	width:400px;
	margin:20px auto 0;
}

/********************************************************************************************************************************************
	HOME widgets
********************************************************************************************************************************************/

.widget {
	background:white;
	display:block;
	vertical-align:middle;
	border:1px solid #ccc;
	width:100%;
	margin-bottom:30px;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

	.widget .widget_int {
		padding:15px;
	}
	
	.widget h4 {
		text-align:left;
		padding:10px;
		font-size:18px;
		/*text-shadow:1px 1px 0 #fff;*/
		margin:0 !important;
		color:#42454a;
		background: #e2e5e9;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-o-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
	}

	.widget:hover h4 {
		background: #d3d7dc;
	}

/********************************************************************************************************************************************
	Home LOG widget
********************************************************************************************************************************************/

.activities_log {
	padding:0;
}

	.activities_log li {
		padding:7px;
		border-bottom:1px solid #EFEFEF;
		overflow:hidden;
	}
	
	.activities_log li:nth-child(odd) {
		background:#fafafa;
	}
	
	.activities_log li:last-child {
		border-bottom:none !important;
	}
	
		.activities_log li .date {
			font-size:.9em;
			color:#999;
		}
		
		.activities_log li .log_ico {
			width:45px;
			float:left;
			opacity:.1;
		}
	
		.activities_log li:hover .log_ico {
			opacity:.7;
		}

		.activities_log li span {
			font-weight:bold;
			color:#2a69a0;
		}
		
		.activities_log li span.secondary {
			color:#86AE00;
		}
	
	.home_log_text {
		margin-left:45px;
	}

.view_full_log {
	text-align:right;
	padding-top:5px;
	margin-top:5px;
	border-top:1px solid #EFEFEF;
}

/********************************************************************************************************************************************
	Home NEWS widget
********************************************************************************************************************************************/

.home_news {
	margin:0;
	padding:0;
}

	.home_news .date {
		color:#999;
		font-size:.9em;
	}
	
	.home_news h5 {
		margin:0 0 3px;
	}

/********************************************************************************************************************************************
	Home graphs
********************************************************************************************************************************************/

.loading-graph {
	text-align:center;
	padding-top:100px;
}

.loading-graph img {
	margin-bottom:2em;
}

.stats_change_days {
	margin-bottom:1.5em;
	display:inline-block;
	zoom:1;
}

.graph_legend {
	text-align:right;
	padding-top:5px;
	display:none;
	float:right;
	zoom:1;
}

	.graph_legend li {
		display:inline-block;
		zoom:1;
		color:#fff;
		margin-left:5px;
		font-size:.9em;
		padding:4px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}
	
		.graph_legend li .legend_color {
			width:12px;
			height:12px;
			float:left;
			margin: 2px 5px 0 0;
		}

	.graph_legend li.legend_color1 { background:#0094bb; }
	.graph_legend li.legend_color2 { background:#86ae00; }
	.graph_legend li.legend_color3 { background:#C60F13; }
	.graph_legend li.legend_color4 { background:#f2b705; }
	.graph_legend li.legend_color5 { background:#1ec4a7; }

.stats_change_data, .log_change_action {
	margin-bottom:2em;
}

.widget_system_info .widget_int h3:first-child {
	margin-top:0;
}

.widget_system_info dl {
	margin-bottom:25px;
}

	.widget_system_info dt {
		text-align:left;
	}

/********************************************************************************************************************************************
	Home statistics tooltip
********************************************************************************************************************************************/

#stats_tooltip {
	position:absolute;
	display:none;
	background:black;
	color:#FFFFFF;
	padding:5px;
}

.login_form_links {
	margin-top:14px;
	padding-top:8px;
	border-top:1px dotted #ccc;
}

	.login_form_links p {
		margin:10px 0 0;
	}


/********************************************************************************************************************************************
	Main white content boxes
********************************************************************************************************************************************/

.whitebox {
	background-color:white;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
}

.white-box {
	margin-top:35px;
	background-color:white;
	border:1px solid #ccc;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

	.white-box-interior {
		padding:15px;
	}	

.whiteform {
	margin:0 auto 0 auto;
	width:550px;
	text-align:left;
	padding:20px;
}

	.whiteform td { height:25px; }

.whitebox_text {
	padding-top:25px;
}

/********************************************************************************************************************************************
	File management
********************************************************************************************************************************************/

.file_status_visible, .account_status_active {
	color:#639822!important;
	font-weight:bold;
}

.file_status_hidden, .account_status_inactive {
	color:#D24244!important;
	font-weight:bold;
}


/********************************************************************************************************************************************
	VALIDATION
********************************************************************************************************************************************/

.field_error {
	border:1px solid #B94A48 !important;
}

.field_error_msg {
	position:relative;
}

	.field_error_msg ul {
		font-size:.95em;
		color:#B94A48;
		background:#F2DEDE;
		margin:0;
		padding:10px;
		border:1px solid #EED3D7;
		position:relative;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		/*text-shadow:1px 1px 1px white;*/
	}
	
	.field_error_msg:after,
	.field_error_msg:before
	{
		bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	}
	
	.field_error_msg:after {
		border-color: rgba(45, 237, 14, 0); border-bottom-color: #F2DEDE; border-width: 10px; right: 5%; margin-left: -10px;
	}
	
	.field_error_msg:before {
		border-color: rgba(238, 211, 215, 0); border-bottom-color: #EED3D7; border-width: 11px; right: 5%; margin-left: -11px;
	}
	
		.field_error_msg ul li {
			padding:3px 0;
			border-bottom:1px dotted #AC6760;
		}
		
		.field_error_msg ul li:last-child {
			border-bottom:none !important;
		}

.options_box .field_error_msg {
	margin-left:44%;
}

.error_no_margin .field_error_msg {
	margin-left:0;
}

/********************************************************************************************************************************************
	Edit file information on UPLOAD
********************************************************************************************************************************************/

.edit_files {
}

	.edit_files .edit_files_blocks {
		background:white;
		border:1px solid #ccc;
		-moz-border-radius:5px;
		-moz-box-shadow:3px 3px 5px #dedede;
		-webkit-border-radius:5px;
		-webkit-box-shadow:3px 3px 5px #dedede;
		border-radius:5px;
		box-shadow:3px 3px 5px #dedede;
		padding:30px 15px;
	}

		.edit_files .edit_files_blocks:hover {
			border:1px solid #888;
			-moz-box-shadow:3px 3px 5px #ccc;
			-webkit-box-shadow:3px 3px 5px #ccc;
			box-shadow:3px 3px 5px #ccc;
		}
	
		.edit_files .file_data .file_data_column {
		}
		
		.edit_files .file_data h3 {
			padding-top:0;
			margin-top:0;
		}

	.edit_files .column_even {
	}

.file_editor {
	padding-top:15px;
	margin-bottom:40px;
}

.edit_files textarea {
	height:70px!important;
}

.edit_files .ms-container {
	background: transparent url('../img/switch.png') no-repeat 50% 49% !important;
	margin:0 !important;
	border:none !important;
	padding:10px 0;
}

.edit_files .ms-optgroup-label {
	font-size:14px !important;
	color:#999 !important;
	background:#f9f9f9 !important;
	padding:7px 0 7px 24px !important;
	font-weight:bold !important;
	position:relative;
}

.edit_files .ms-optgroup-label:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	top:14px;
	left:8px;
	border: 5px solid transparent;
	border-top-color: #777;
}

.file_number {
	font-family:'Open Sans', Arial, sans-serif;
	position:relative;
}

/*
	.file_number:after {
		content: ' ';
		height: 0;
		position: absolute;
		width: 0;
		border: 10px solid transparent;
		border-left-color: #0094BB;
		left: 100%;
		top: 10px;
	}
*/
	.file_number {
		margin:0;
		padding:10px;
		background:#232835;
		color:white;
		font-size:18px;
		display:inline-block;
		-moz-border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		border-radius:5px 5px 0 0;
	}

		.file_number p {
			padding:0 15px;
			margin:0;
			display:inline-block;
			word-wrap:break-word;
		}
	
			.file_number p span {
				display:inline-block;
				color:#888;
				margin:0 15px 0 0;
			}

.edit_files .column {
	/*border-right:1px solid #dedede;*/
	padding:0 30px;
}

	.edit_files .column:last-child {
		border:none;
	}

.edit_files .divider {
	margin:40px auto;
}

.list_mass_members {
	margin:10px 0 0;
	padding:0;
}

	.list_mass_members a {
		margin-right:5px;
	}
	
	.list_mass_members a:last-child {
		margin-right:0;
	}
	
/********************************************************************************************************************************************
	Branding
********************************************************************************************************************************************/

#current_logo_h2 {
	margin:30px 0 10px;
}

#current_logo {
	margin:20px auto;
	text-align:center;
	padding:20px 0 0;
	overflow:hidden;
}

#current_logo_img {
	padding:20px 0;
}

	#current_logo_img img {
		height:auto;
		width:100%;
		max-width:300px;
	}

.preview_logo_note {
	font-size:.9em;
	margin-top:30px;
	color:#888;
}

#form_upload_logo {
	padding:30px 0 10px;
	border-top:1px dotted #CCCCCC;
}

/********************************************************************************************************************************************
	OPTIONS page
********************************************************************************************************************************************/

.field_note {
	margin:4px 0 15px 0;
	font-size:1em;
	color:#999;
	padding-left:6px;
	font-weight:300;
	border-left:3px solid #eee;
}

.field_note a {
	color:#0094bb;
	text-decoration:underline;
}

	.box-reset-password .field_note {
		margin-left:0;
	}

optgroup {
	padding:1em;
	border:dotted #999;
	border-width:1px 0 0 0;
}

.options_box {
	padding:20px;
	margin:20px auto;
}

.options_box textarea {
/*	height:250px;*/
}

.options_box .form_fields p {
	margin-bottom:20px;
}

.options_box .form_fields li {
	clear:both;
}

.options_box .form_fields li.options_nested_note {
	margin:25px 0 0;
	font-weight:bold;
}

.checkbox_options {
	width:auto !important;
}

.options_divide {
	clear:both;
	overflow:hidden;
	margin:25px 0;
}

.options_column {
	overflow:hidden;
}

.textarea_high {
	min-height:200px;
}

	.options_col_left {
		width:47%;
		float:left;
	}
	
	.options_col_right {
		width:47%;
		float:right;
	}

.preview_button {
	margin-top:25px;
	text-align:center;
}

	.preview_button button {
		margin-bottom:10px;
	}


/********************************************************************************************************************************************
	Overwrite PLUPLOAD styles
********************************************************************************************************************************************/

.plupload_filelist_header, .plupload_filelist_footer {
	background: #e2e5e9;
}

.plupload_filelist_footer {
	height:auto;
}

.plupload_button {
	color:white;
	background:#004B92;
	margin-right: 4px;
	padding:4px 30px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
	text-decoration: none;
	text-align:center;
	border:1px solid #004380;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

	.plupload_button:hover,
	.plupload_button:focus
	{
		color:white;
		background:#1069bd;
	}

.plupload_wrapper {
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-box-shadow:3px 3px 5px #dedede;
	box-shadow:3px 3px 5px #dedede;
}

.plupload_container {
	padding:1px;
}

a.plupload_start {
	display:none;
}

.message_uploading {
	display:none;
}

/********************************************************************************************************************************************
	Overwrite BOOTSTRAP styles
********************************************************************************************************************************************/

.form-horizontal .control-label {
    text-align: left;
}

label input[type="checkbox"] {
    cursor: pointer;
}

.checkbox label {
	line-height:20px;
}

span.label {
	font-size:12px;
}

.text-warning {
	color:#c9302c;
}

/********************************************************************************************************************************************
	Recreate the dark, inverted button from Bootstrap 2
********************************************************************************************************************************************/

.btn-inverse,
.btn-inverse:focus
{
	background:#333;
	color:white;
	border-color:#333;
}

.btn-inverse:hover {
	color:white;
	background:#555;
}

/********************************************************************************************************************************************
	Categories
********************************************************************************************************************************************/

.categories_form {
	padding:20px;
	background:white;
	margin-bottom:40px;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-moz-box-shadow:3px 3px 5px #dedede;
	-webkit-border-radius:5px;
	-webkit-box-shadow:3px 3px 5px #dedede;
	border-radius:5px;
	box-shadow:3px 3px 5px #dedede;
}

	.categories_form h3 {
		margin:0 0 30px;
	}

/********************************************************************************************************************************************
	Misc
********************************************************************************************************************************************/

.td_checkbox {
	width:50px;
}

#uploaded_files_tbl {
	margin-bottom:70px;
}

th.select_buttons {
	width:220px;
}

.membership_toggle {
	margin-right:10px;
}

.membership_toggle .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }

.form_results_filter {
	margin-bottom:20px;
}

	.form_results_filter a {
		text-decoration:underline;
		display:inline-block;
		padding-right:5px;
		margin-right:5px;
		border-right:1px solid #dedede;
	}

	.form_results_filter a.filter_option {
		color:#333;
	}

