@media (min-width:769px) {
	/** Always expand the current item on the large menu */
	body:not(.menu_contracted) {
		.main_menu {
			.current_nav {
				.dropdown_content {
					display:block;
				}
			}
		}
	}
}

@media (max-width:1024px) {
	.edit_files .column {
		margin-bottom:50px;
	}
}

@media (max-width:768px) {
	.main_side_menu {
	}
	
	.main_content {
	}
		
	.menu_contracted {
	}

	.menu_hidden {
		.main_side_menu {
			display:none;
		}

		.main_content {
			margin-left:0px;
		}
	}
	
	.navbar-fixed-top {
	}
	
	.container-custom {
	}
	
	.navbar-header {
		display:none;
	}
}

@media (max-width:576px) {
	.nav_account i {
		display:none;
	}
}

@media (max-width:768px) {
	.main_title {
		text-align:center;
		margin-bottom:20px;
	}
	
	#header #account {
		text-align:center;
	}

		#header #account span {
			display:block;
			margin-bottom:8px;
		}
	
	.form_filters {
		display:block;
		clear:both;
	}
    
    .form_filters select {
        max-width: 300px;
    }
    
    .form_actions_left,
	.form_actions_right
	{
        float: none;
    }
	
	.group_float {
		float:left;
		margin-right:5px;
	}
	
	#current_logo {
		text-align:center;
	}

		#current_logo_left,
		#current_logo_right
		{
			width:auto;
			float:none;
		}
	
		#current_logo_right {
			display:inline-block;
			margin:20px auto;
		}

	.edit_files .file_data {
		background:white;
		margin-bottom:25px;
	}

	.edit_files .col-sm-4:last-child .file_data {
		border-bottom:1px solid #ccc;
	}

}