/********************************************************************************************************************************************
	Styles shared between the BACKEND and the DEFAULT TEMPLATE
********************************************************************************************************************************************/

:focus { outline:none !important; }
::-moz-focus-inner { border:0 !important; }

ul {
	margin:0 !important;
	list-style:none; 
}

strong,
.bold
{
	font-weight:bold;
}

em {
	font-style:italic;
}

p {
	margin-bottom:1.2em;
	line-height:1.5em;
}

a img {	border:none; }

.external_link:before {
	content:'\e144';
	margin-right:3px;
	font-family:"Glyphicons Halflings";
	line-height:1px;
	color:black;
}

.clear { clear:both; }

.margin_0 {
	margin:0;
}

body,
html
{
	color:#666666;
	font-size:.9em;
	line-height:1.2em;
	background:#F4F4F4 url(../img/bg-2-noise.jpg);
	height:100%;
	position:relative;
}

#header {
	background:#232835;
	color:#f0f0f0;
	position:relative;
	overflow:hidden;
	padding:25px 15px 20px;
}

	#header h1 {
		color:white;
		font-size:35px;
		margin:0;
		/*text-shadow:1px 1px 1px #000;*/
		font-family:'Abel', Arial, sans-serif;
		line-height:32px;
	}

#account {
	font-size:.85em;
	line-height:1em;
	text-align:right
}

	#account span {
		color:#999999;
	}
	
	#account a {
		color:white;
		display:inline-block;
		padding: 10px 20px 10px 35px;
		background:transparent url(../img/logout.png) no-repeat 10px 7px;
		text-decoration:none;
		transition: all 0.8s ease-out;
		-moz-transition: all 0.8s ease-out;
		-webkit-transition: all 0.8s ease-out;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

		#account a:hover {
			background-color:#000;
		}
	
	#account a.my_account {
		background:transparent url(../img/my_account.png) no-repeat 10px 7px;
		margin-left:15px;
	}

.dashboard_contents {
	padding-top:10px;
}

/********************************************************************************************************************************************
	Main menu
********************************************************************************************************************************************/

.navbar {
	margin:0;
	background:#3c404b;
	line-height:normal;
	min-height:30px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}
	.navbar .divider-vertical {
		margin:0;
		border-left-color:#3a3e4a;
		border-right-color:#373b48;
	}

	.navbar .nav > li > a {
		color:#f0f0f0;
		padding-top:8px;
		padding-bottom:8px;
	}

	.navbar .badge {
		background:#111;
		color:#dedede;
		margin-left:5px;
	}

	.navbar .caret {
		border-top-color:#999999;
	}

	.navbar .nav .active > a,
	.navbar .nav > a:hover,
	.navbar .nav > a:focus,
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
		background:#24272f !important;
		color:white;
	}

/********************************************************************************************************************************************
	Footer
********************************************************************************************************************************************/

#footer {
	background:#eee;
	color:#888;
	text-align:center;
	padding:15px;

	clear:both;
	-moz-box-shadow:2px 2px 3px #E1E1E1;
	-webkit-box-shadow:2px 2px 3px #E1E1E1;
	box-shadow:2px 2px 3px #E1E1E1;

	padding:15px 10px;
	font-size:.9em;

	margin:50px 0 10px 0;
}

#footer a {
	color:#666;
}

/********************************************************************************************************************************************
	Messages
********************************************************************************************************************************************/

.message {
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-bottom:20px;
	line-height:1.4em;
}

	.message p {
		margin:0;
	}
	
	.message ol {
		margin:20px 0 0 0;
		padding-left:2em;
	}

#login_error {
	margin:0 auto 20px auto;
}

.message_ok {
	color:#849F4F;
	background:#ECF5DA;
	border:1px solid #B1C786;
	/*text-shadow:1px 1px 1px white;*/
}

.message_error {
	color:#B94A48;
	background:#F2DEDE;
	border:1px solid #EED3D7;
	/*text-shadow:1px 1px 1px white;*/
}

.message_info {
	color:#2E8EB4;
	background:#E5F1FC;
	border:1px solid #BCD8F3;
	margin-top:20px;
}

.message_note {
	color:#6c6620;
	background:#fdfbe1;
	border:1px solid #e7db55;
}

#donations_message a {
	text-decoration:underline;
}

#donations_message h3 {
	border:none;
}

form .alert {
	margin-top:2em;
}

/********************************************************************************************************************************************
	Override bootstrap's TABS styles
	Used on the options pages
********************************************************************************************************************************************/

.nav-tabs > li,
.nav-pills > li
{
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-tabs,
.nav-pills
{
    text-align: center;
    border: none;
}

.nav-tabs li {
    border: none;
    padding-bottom: 3px;
}

    .nav-tabs li.active {
        text-decoration:none;
    }

.nav-tabs li a {
	background:#ededed;
    color:#ccc;
	font-size:1.3em;
	line-height:2em;
	outline:none;
    margin: 0;
    padding: 2px 12px;
    border:1px solid #ccc !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .nav-tabs li a:hover {
        color: #666 !important;
    }


    .nav-tabs li.active a {
        color: #333 !important;
        margin: 0;
        background: white;
    }

.panel-container {
	margin-bottom:10px;
}

#outer_tabs_wrapper {
	margin:0 auto;
}

/********************************************************************************************************************************************
	Forms
********************************************************************************************************************************************/

.form_fields li label {
	display:inline-block;
	width:40%;
}

.textarea_label {
	vertical-align:top;
}

.form_submit_li {
	margin-top:25px;
	text-align:center;
}

.required {
	background:url(../img/req-text.png) no-repeat right -2px;
	padding-right: 50px;
}

li .password_toggle {
	width:257px !important;
}

li .required.password_toggle {
	width:214px !important;
}

.btn_generate_password {
	margin-top:5px;
}

#add_group_form_description {
	height:150px;
}

/********************************************************************************************************************************************
	Files actions
********************************************************************************************************************************************/

.form_actions_left {
	display:inline-block;
	zoom:1;
	float:left;
}

.form_actions_left form {
	display:inline-block;
	zoom:1;
}

.form_actions_right {
	display:inline-block;
	zoom:1;
	float:right;
}

.form_actions_left select, .form_actions_right select {
	height:30px;
	font-size:13px;
}

.form_actions_left input[type="text"] {
	font-size:13px;
	height:30px;
	line-height:30px;
}

.inline_form {
	display:inline;
}

.form_actions, .form_actions_limit_results {
	padding:0;
	margin-bottom:5px;
}

.form_count_total {
	float:left;
}

.form_actions_count {
	text-align:left;
	padding-top:15px;
	font-size:1.2em;
	overflow:hidden;
	border-top:1px dotted #ccc;
}

.form_actions .form_actions_submit select {
	width:140px;
}

.form_actions .form_actions_submit select.large_select {
	width:320px !important;
}

.form_actions_limit_results .txtfield {
	width:140px;
}

.form_actions_limit_results .form_actions_search_box {
	width:80px !important;
}

#btn_proceed_search {
	margin-right:10px !important;
}

.form_actions_submit label {
	font-size:14px;
	margin-right:15px;
	font-weight:normal;
}

/********************************************************************************************************************************************
	Buttons
********************************************************************************************************************************************/

.close-popover {
	text-align:center;
	margin:15px auto;
}

.after_form_buttons {
	margin-top:50px;
	text-align:center;
}

.inside_form_buttons {
	margin-top:25px;
	text-align:center;
}

.whitebox .alert-info {
	margin-top:25px;
}

.alert .alert-title {
	padding-bottom:0;
	margin-bottom:8px;
	border:none;
	font-weight:bold;
	font-size:17px;
}

/********************************************************************************************************************************************
	Override default bootstrap Main button colors
********************************************************************************************************************************************/

.btn {
	white-space: normal;
}

.btn-wide {
	padding:4px 20px !important;
}

.btn-primary {
	background:#004B92;
}

	.btn-primary:hover,
	.btn-primary:focus
	{
		background:#1069bd;
	}


/********************************************************************************************************************************************
	Modal content
********************************************************************************************************************************************/

.modal_overlay {
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url(../img/modal-bg.png);
	text-align:center;
	z-index:1000;
	opacity:.9;
}

.modal_psend {
	display:none;
	position: fixed;
	top: 50%;
	left: 50%;
	float: left;
	z-index:5000;

	width:400px;
	height:340px;
	margin:-170px 0 0 -200px;
	background:white;
	color:black;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	-webkit-box-shadow: 0 0 23px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    0 0 23px rgba(0, 0, 0, 0.3);
	box-shadow:         0 0 23px rgba(0, 0, 0, 0.3);
}

.modal_content {
	margin:15px;
}

.loading-img {
	text-align:center;
}

.modal_content p.loading-img {
	margin:40px auto;
	text-align:center;
}

.modal_content iframe {
	display:none;
}

.modal_title {
	text-align:right;
	padding:10px;
	background:#eee;
	background:-moz-linear-gradient(top , #f5f5f5, #eee)!important;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee))!important;
	/*text-shadow:0 1px 1px #eee;*/
	color:#888;

	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.modal_close {
	color:#888;
	font-size:2em;
}


/********************************************************************************************************************************************
	Downloaders list (shown on modal)
********************************************************************************************************************************************/

.downloaders_list {
	list-style:none;
	height:230px;
	overflow:auto;
	padding:0;
}

.downloaders_list li {
	list-style:none;
	padding:8px;
	border:solid #eee;
	border-width:1px 0;
}

.downloaders_list li:hover {
	background:#eef0f2 !important;
}

.downloaders_list li img {
	float:left;
	background:white;
	padding:3px;
	border:1px solid #ccc;
	margin:0 10px 0 0;
}

.downloaders_list li:nth-child(even) {
	background:#f6f6f6;
}

.downloaders_list .downloader_name {
	font-size:1em;
	color:#222;
	font-weight:bold;
	margin:0 0 3px;
}

.downloaders_list .downloader_email {
	font-size:.9em;
	color:#777;
	margin:0;
}

.downloaders_list .downloader_count {
	float:right;
}

p.downloaders_note {
	font-size:.9em;
	margin:10px 0 0;
	line-height:1.1em;
	color:#666666;
}

/********************************************************************************************************************************************
	Datepicker
********************************************************************************************************************************************/

.datapick-field {
	cursor:pointer !important;
}

/********************************************************************************************************************************************
	Files list view (File Manager)
********************************************************************************************************************************************/

.file_name {
	font-weight:bold;
}

	.file_name a {
		text-decoration:underline;
	}

.public_link_copy {
	background:#E5F1FC;
	color:#2E8EB4;
	font-size:12px;
	width:100%;
	border:1px solid #BCD8F3;
	margin:7px auto !important;
}

.popover-content .copied {
	display:none;
	padding:7px;
	margin:8px 0;
	font-weight:bold;
	color:#849F4F;
	background:#ECF5DA;
	border:1px solid #B1C786;
}

.popover-content .copied_not {
	display:none;
	padding:7px;
	margin:8px 0;
	font-weight:bold;
	color:#B94A48;
	background:#F2DEDE;
	border:1px solid #EED3D7;
}

/********************************************************************************************************************************************
	Misc
********************************************************************************************************************************************/

.pagination_wrapper {
	margin:2em auto;
}

#go_to_page {
	width:4em !important;
	text-align:center;
}

.format_url {
	word-break:break-all;
}