html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}

$highlight 			: #de3c4b;
$highlight_hover 	: #303036;
$bg_data 			: #f9f9f9;
$bg_data_hover 		: #dedede;
$border_color 		: #eee;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	-moz-opacity: $opacity;
	-webkit-opacity: $opacity;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.clear { clear:both; }

p {
	margin-bottom:0.8em;
}

a img {	border:none; }

a {
	color:#999;
	text-decoration:none;
}

	a:hover {
		text-decoration:none;
	}

html,
body
{
	color:#333;
	font-family:'Metrophobic', Georgia, "Times New Roman", Times, serif;
	font-size:0.9em;
	line-height:1.2em;
	background:#f5f5f5;
	height:100%;
	overflow-x:hidden;
}

.wrapper {
	margin:10px auto;
	padding:0 20px;
}

#header {
	padding:25px 0;
	background:#fff;

	#branding {
		margin:0 auto;
		text-align:center;

      img, svg {
         width:100%;
         height:auto;
         max-width:400px;
      }
    }
}

p.welcome {
	float:left;
	padding:15px 20px;
	color:#777;
}

#menu {
	font-size:1.3em;
	line-height:1.5em;
	background:#fff;
	border:solid $border_color;
	border-width:1px 0;
}

	#menu ul {
		list-style:none;
		text-align:right;

		li {
			display:inline-block;
			zoom:1;
			margin-right: -4px;

			a {
				display:block;
				padding:15px 20px;
				color:#444;
				font-weight:bold;
				border-left:1px solid $border_color;
				transition: all 0.4s ease-out;
				-moz-transition: all 0.4s ease-out;
				-webkit-transition: all 0.4s ease-out;

				i {
					margin-right:8px;
				}
			}

			a:hover {
				background:$border_color;
				text-decoration:none;
			}

		}
	}

#content {
	width:100%;
	position:relative;
	height:100%;
	padding-top:30px;
}

.content_cover {
	background:black;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	display:none;
	@include opacity(.7);
}

.no_files {
	text-align:center;
	margin:100px auto;
	font-size:3em;
	text-shadow:1px 1px 1px white;
}

.photo_list {
	margin:0 auto;
	text-align:center;

	.photo {
		width:280px;
		background:#fff;
		margin:4px 25px 25px 0;
		border:1px solid $border_color;
		border-top:4px solid $border_color;

		transition: border-color 0.5s ease-out;
		-moz-transition: border-color 0.5s ease-out;
		-webkit-transition: border-color 0.5s ease-out;

		@include border-radius(6px);
	}

	.photo:hover {
		margin-top:0;
		border-top:8px solid $highlight_hover;
	}
}

.photo_list .photo:hover .ext_prev a {
	text-decoration:none;
	background:$highlight;
}

.photo_list .photo .photo_int {
	margin:15px;
}

.ext_prev {
	text-align:center;
	color:white;
}

	.ext_prev a {
		display:block;
		color:white;
		background:$highlight;
		transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-webkit-transition: all 0.5s ease-out;
	}

		.photo_list .photo:hover .ext_prev a {
			text-decoration:none;
			background:$highlight_hover;
		}

	.ext_prev h6 {
		padding:50px 0;
		margin:0;
		font-size:3em;
		@include opacity(.4);
	}

.img_data {
	background:$bg_data;
	padding:10px;
	word-wrap:break-word;
	@include border-radius(0 0 6px 6px);
}

	.photo_list .photo:hover .img_data {
		background:$bg_data_hover;
	}

.img_data h2 {
	font-size:1.7em;
	line-height:1.3em;
	margin-bottom:.3em;
}

.photo_info {
	font-size:.9em;
}

.file_size,
.exp_date
{
	margin:1em 0 0;
	font-size:1.2em;
}

.exp_date span {
	color:#e54d5c;
	font-weight:bold;
}

.download_link {
	margin-top:10px;
	padding-top:10px;
	border-top:1px dashed #ccc;
	text-align:center;
}

.photo_list .photo.expired {
	color:#ccc;
	border-color:#f0f0f0;
	border-top-color:#ccc;
}

/* Search box */

#search_text {
	background:none;
	border:none;
	font-size:1.2em;
	color:#999999;
	padding-bottom:3px;
	margin-top:-3px;
	border-bottom:1px solid $border_color;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

#search_text:focus {
	color:#333;
}

#search_go {
	cursor:pointer;
	border:none;
	background:none;
	margin-right:20px;
}

/* Buttons */

.button {
	width:130px;
	padding:7px 10px;
	font-size:1em;
	color:#888;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;

	@include border-radius(5px);

	box-shadow:0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}

.button_gray {
	background:$border_color;
	border:1px solid #C4C2C2!important;
}

.photo_list .photo:hover .button {
	background:$highlight_hover;
	color:#fff;
	border:1px solid $highlight_hover !important;
}

.categories_trigger {
	position:relative;
}

#menu ul.categories {
	display:none;
	overflow:hidden;
	background:white;
	position:absolute;
	top:100%;
	right:0;
	min-width:200px;
	z-index:999999;
	border:1px solid $border_color;

	li {
		display:block;

		a {
			font-size:.9em;
			padding:5px 15px;
		}
	}

	.filter_all_files {
		border-bottom:1px solid $border_color;
		text-transform:uppercase;

		a {
			color:$highlight;
		}
	}
}

/* */

#footer {
	background:$border_color;
	color:#999;
	padding:15px 0;
	text-align:center;
	font-size:1em;

	margin:50px 0 0;
}

#footer a {
	color:#999;
	text-decoration:underline;
}

/******************************************************/
@media (max-width:768px) {
	p.welcome {
		float:none;
		padding:15px 0;
		text-align:center;
		margin-bottom:10px;
	}

	#menu ul li#search_box {
		display:block;
		text-align:center;
		padding-bottom:20px;
		border-bottom:1px solid $border_color;
	}
}
