# Dependencies directories
vendor
node_modules
npm/node_modules
bower_components

# Compiled files
assets/dist
assets/css
assets/fonts
assets/js

# Cache
cache/*
!cache/.gitkeep

# NPM / Yarn
.npm
.node_repl_history
npm-debug.log*

# Config files
config/config.php
includes/sys.config.php

# Custom files that can be created by the user
# old location
css/custom.css
includes/js/custom.js
includes/custom.php
# new possible locations
assets/custom
app/includes/custom.php

# Uploads
upload/files/*
upload/admin/*
upload/temp/*
upload/branding/*
upload/thumbnails/*
!upload/files/index.php
!upload/admin/index.php
!upload/temp/index.php
!upload/branding/index.php
!upload/thumbnails/index.php
!upload/files/.htaccess
!upload/admin/.htaccess
!upload/temp/.htaccess
!upload/branding/.htaccess
!upload/thumbnails/.htaccess

# Windows thumbnails
Thumbs.db

# macOS
.DS_Store

# VSCode Files
.vscode

# Test results
test-results

# Misc
.idea/
