/*

 * It is advised not to edit the smartadmin_production.css

 * as this will override any changes you make in the 

 * later versions of this theme. 

 * 

 * We advise that you use use this CSS to override 

 * SmartAdmin styles. 

 * 

 * Rename the stylesheet to whatever your liking so it will stay

 * unique to you with each update of SmartAdmin.

 */



/*

 * INDEX

 * 

 * - HTML

 * - BODY

 * - CUSTOM STYLES

 */

 

.text-rgt {
	text-align: right;
}
a.title-link {
	color: #000;
}
a.title-link:hover {
	color: #000;
	text-decoration: none;
}
.right-btn {
	float: right;
	margin-bottom: 20px;
}
.cc-display-none {
	display: none!important;
}
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
	white-space: initial!important;
	width: 100%!important;
}

 /*-------------------- Responsive table by B) -----------------------*/

@media only screen and (max-width: 1200px) {
#content {
	padding-top: 30px;
}
/* Force table to not be like tables anymore */

#no-more-tables table,  #no-more-tables thead,  #no-more-tables tbody,  #no-more-tables th,  #no-more-tables td,  #no-more-tables tr {
	display: block;
}
/* Hide table headers (but not display: none;, for accessibility) */

#no-more-tables thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#no-more-tables tr {
	border: 1px solid #ccc;
}
#no-more-tables td {
	/* Behave  like a "row" */

	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
	white-space: normal;
	text-align: left;
}
#no-more-tables td:before {
	/* Now like a table header */

	position: absolute;
	/* Top/left values mimic padding */

	top: 6px;
	left: 6px;
	width: 45%;
	padding-right: 10px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}
/*

	Label the data

	*/



	

td:nth-of-type(1):before {
	content: "";
}
td:nth-of-type(2):before {
	content: "Date";
}
td:nth-of-type(3):before {
	content: "Author";
}
td:nth-of-type(4):before {
	content: "Activity";
}
td:nth-of-type(5):before {
	content: "";
}
td:nth-of-type(6):before {
	content: "";
}
td:nth-of-type(7):before {
	content: "";
}
}
.cc-overflow-scroll {
	overflow: scroll;
}
/*-------------------- Responsive table End--------------------------*/

.cc-chk-container  {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cc-chk-container  input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.cc-chk-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
/* On mouse-over, add a grey background color */
.cc-chk-container:hover input ~ .checkmark {
    border: 1px solid #007bba;
}

/* When the checkbox is checked, add a blue background */
.cc-chk-container input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cc-chk-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cc-chk-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cc-chk-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #007bba;
    border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
table.cc-mail-listing-style tfoot>tr>th, table.dataTable thead>tr>th , table.cc-mail-listing-style>tbody>tr>td , .cc-mail-listing-style {
	border:none!important;
}
table.cc-mail-listing-style thead tr {
	background:#FFF!important;
}
table.cc-mail-listing-style th .cc-chk-container .checkmark {
	left:1px;
	top: -5px;
}
table.cc-mail-listing-style td {

	    padding: 8px 10px 0px 10px;
    line-height: 24px;
    font-size: 14px;
}
table.cc-mail-listing-style th {
	padding-left: 0;
}
table.cc-mail-listing-style {
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
}
table.cc-mail-listing-style span.label {
    font-size: 9px;
    padding: 0px 4px;
}
.grid_box {padding: 15px;min-height: 272px;    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);    box-shadow: 0 0 6px rgba(0,0,0,0.3);    border-radius: 3px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;	text-rendering: optimizeLegibility;text-shadow: none;position:relative;	}.resend_grid_box{margin: 0 auto;display: block;}span.grid_box_span{font-weight: bold;}.cc-chk-container-grid-box {position: absolute;right: 0;}.tooltip {    position: relative;    display: inline-block;	opacity:1!important}.tooltip .tooltiptext {    visibility: hidden;    width: 120px;    background-color: #555;    color: #fff;    text-align: center;    border-radius: 6px;    padding: 5px 0;    position: absolute;    z-index: 1;    bottom: 125%;    left: 50%;    margin-left: -60px;    opacity: 1!important;    transition: opacity 1s;}.tooltip .tooltiptext::after {    content: "";    position: absolute;    top: 100%;    left: 50%;    margin-left: -5px;    border-width: 5px;    border-style: solid;    border-color: #555 transparent transparent transparent;}.tooltip:hover .tooltiptext {    visibility: visible;    opacity: 1;}
.cc-grid {font-size: 30px;vertical-align: middle;margin-left: 20px;}
#site_favico {margin-top: 22px;padding-top: 19px;border-top: 1px dotted #CCCCCC;}
#site_favico .favico_img_src  {border: 2px dotted #CCCCCC;padding: 15px;margin: 17px;}
.home_page_edits_cls {width: 50%;margin: 0 auto;}
#current_logo_right {float: left!important;margin: 16px;}
#datepicker .ui-widget-header .ui-icon { background-image:url('https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/images/ui-icons_222222_256x240.png')!important; }
#datepicker .ui-icon-circle-triangle-w {background-position:-80px -192px!important;} 
#datepicker .ui-datepicker-next>:first-child, .ui-datepicker-prev>:first-child {text-indent: -99999px!important;}
#datepicker .ui-icon-circle-triangle-e {background-position: -48px -192px!important;}
#datepicker .ui-datepicker {font-size: 153%;}
.table_calendar_common {font-family: arial, sans-serif;border-collapse: collapse;width: 100%;}
.table_calendar_common td, .table_calendar_common th {border: 1px solid #dddddd;text-align: left;padding: 8px;}
.display-image {margin-top: -17px;}
