# Ignore any files or directories in this directory
/*
!/.gitignore

# Explicitly include modules that ship with simplesamlphp
!/adfs/
!/authcrypt/
!/authfacebook/
!/authlinkedin/
!/authmyspace/
!/authorize/
!/authtwitter/
!/authwindowslive/
!/authX509/
!/authYubiKey/
!/cas/
!/casserver/
!/cdc/
!/consent/
!/consentAdmin/
!/core/
!/cron/
!/discopower/
!/exampleattributeserver/
!/exampleauth/
!/expirycheck/
!/ldap/
!/memcacheMonitor/
!/metarefresh/
!/multiauth/
!/negotiate/
!/oauth/
!/portal/
!/preprodwarning/
!/radius/
!/riak/
!/saml/
!/sanitycheck/
!/smartattributes/
!/sqlauth/
!/statistics/
