.context_menu {
    position: fixed;
    z-index: 999999;
    width: 150px;
    background-color: white;
    box-shadow: var(--global_box_shadow);
    display: none;

    &.visible {
        display: block;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            button {
                display: block;
                padding: .75rem 1.5rem .75rem 1rem;
                border: none;
                background-color: transparent;
                width: 100%;
                text-align: left;

                i {
                    margin-right: .5rem;
                }

                &:hover {
                    background-color: #f0f0f0;
                    color: var(--main_color);
                }
            }
        }
    }
}