#donations_message {
    background:#0094bb ;
    color:#fff;
    border-radius: 2px;
    margin:0 0 20px;
    padding:30px;
    font-size:1.1em;

    h3 {
        margin-top:0;
        font-size:1.5em;
        border:none;
    }

    p {
        margin-bottom:0;
    }

    a {
        color:white;
        font-weight:bold;
        text-decoration:underline;
    }
}
