// Edit file information on UPLOAD

.file_editor {
    padding-top:15px;
    margin-bottom:40px;
}

.edit_files {
    .file_title {
        font-family:var(--font_heading);
        position:relative;
        word-break:break-all;
        margin:0;
        padding:10px;
        color: var(--main_color);
        font-size:18px;
        display:inline-block;
        border-radius: 5px 5px 0 0;
    
        p {
            padding:0 15px;
            margin:0;
            display:inline-block;
            word-wrap:break-word;
        }
    }

    .edit_files_blocks {
        background:white;
        border:1px solid #ccc;
        padding:30px 15px;
        box-shadow: var(--global_box_shadow);
        border-radius: 8px;

        .white-box-interior {
            padding:15px;
        }
    }

    .file_data {
        h3 {
            padding-top:0;
            margin-top:0;
        }

        @include bk(xs) {
            background:white;
            margin-bottom:25px;
        }
    }

    .textarea_description {
        min-height: 10rem;
    }

    .column {
        padding:0 25px;
        margin-bottom: 50px;

        @include bk(md) {
            margin-bottom: 0;
        }

        &:last-child {
            border:none;
        }
    }

    .divider {
        margin:40px auto;
    }
}

.select_control_buttons {
    margin:10px 0 30px;
    padding:0;

    a {
        margin-right:5px;

        &:last-child {
            margin-right:0;
        }
    }
}
