#folders_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: 1rem;

    .folder {
        background-color: var(--main_color);
        border: 1px solid var(--main_color);
        border-radius: 8px;
        color: white;
        
        a {
            display: flex;
            align-items: center;
            color: white;
            padding: 1rem;
        }

        i {
            font-size: 1.5rem;
            // color: var(--main_color);
            margin-right: .5rem;
        }

        &.new_flash {
            animation: .5s newFolder 2;
        }

        &.dragging {
            background-color: #e8ddba;
            border-color: #e8ddba;
        }

        &.drop_ready {
            background-color: #ccc;
            border-color: #333;
            border-style: dashed;
        }
    }
}