.login_form_links {
    margin-top:25px;

    p {
        margin:10px 0 0;
    }
}

.hide_title h2 {
    display:none;
}

.login {
    .tab-content {
        padding-top: 20px;
    }
}

// Social icons

.social_login_links {
    text-align: center;
    margin: 20px auto 0;

    @each $brand, $hex in $brands_colors {
        .button_#{$brand} {
            .fa-circle {
                color: #{$hex};
            }
        }
    }
}

form#verify_2fa {
    .form_info {
        h2 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
    }

    #otp_inputs {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 25px auto;
    
        input {
            width: 48px;
            height: 48px;
            font-size: 25px;
        }
    }
}
