// Public files and groups listing
.public {
    .intro {
        margin-bottom: 20px;
    }

    .listing {
        ul {
            margin:0;
            padding: 0;

            li {
                padding: 8px 0;
                border-bottom: 1px solid #dedede;

                &:last-child {
                    border: none;
                }

                &.file:hover {
                    background: #f0f0f0;
                }

                i {
                    margin-right: .5em;
                }

                ul {
                    padding-left: 2em;
                }
            }
        }
    }
}

// Public download page
body.download {
    .file_title {
        span {
            font-size: 20px;
        }
    }

    .description {
        font-size: 15px;
        line-height: 20px;
    }

    .actions {
        margin-top: 20px;
    }
}
