* { margin:0; padding:0; }

p {
	margin-bottom:0.8em;
}

a img {	border:none; }

a { color:#999; text-decoration:none; }
a:hover { text-decoration:underline; }

.clear { clear:both; }

html, body {
}

body {
	color:#f0f0f0;
    font-family: 'Montserrat', sans-serif;
	font-size:0.9em;
	line-height:1.2em;
	background:#222 url(img/bg.jpg) no-repeat top center fixed;
	height:100%;
}

.btn_nav {
	position:absolute;
	left:20px;
	top:20px;
	font-size:3em;
	transition:.2s all ease-in-out;
	color:#dedede;
}

	.btn_nav:hover,
	.btn_nav:focus
	{
		color:#fff;
		outline: 0;
	}

/** Based on this cool example https://codepen.io/ncerminara/pen/quJpi/ */
#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

	#movable {
		width: 100%;
		height: 100%;
		position: relative;
		
		-webkit-transform: translateX(0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translateX(0);
		transform: translate3d(0, 0, 0);
		
		-webkit-transition: 300ms ease all;
		transition: 300ms ease all;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	.show-nav #movable {
		-webkit-transform: translateX(300px);
		-webkit-transform: translate3d(300px, 0, 0);
		transform: translateX(300px);
		transform: translate3d(300px, 0, 0);
	}
	
	#offsite {
		position: absolute;
		top: 0;
		width: 300px;
		height: 100%;
		left: -300px;
		background: rgba(255, 255, 255, .1);
	}
	
	#offsite_nav {
	  padding: 15px;
	}

		#offsite_nav ul {
			list-style:none;
			margin:0;
			padding:0;
		}

		#offsite_nav h4 {
			color:#dedede;
			margin:30px 0 15px;
			border-top:1px solid #dedede;
			padding-top:30px;
		}

		#offsite_nav a {
		}
		
.account_actions {
	font-size:1.1em;
	margin:20px 0;
	padding:0;
	text-transform:uppercase;
	font-weight:900;
}

	.account_actions li {
		margin-bottom:1.5em;
	}

		.account_actions li i {
			margin-right:.8em;
		}

		.account_actions li a {
			color:#dedede;
			padding:3px 6px;
			transition:.1s all ease-in-out;
		}

			.account_actions li a:hover,
			.account_actions li a:focus
			{
				background:white;
				-moz-border-radius:4px;
				-o-border-radius:4px;
				-webkit-border-radius:4px;
				border-radius:4px;
				color:#333;
				text-decoration:none;
			}

.categories {
	font-size:1.2em;
}

	.categories a {
		color:#dedede;
		text-decoration:none;
		display:inline-block;
		margin:0 auto 10px;
		padding:3px 6px;
		transition:.1s all ease-in-out;
	}

	.categories a:hover {
		background:white;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		color:#333;
	}
		

#content {
	margin:10px auto;
}

header {
	padding:0 20px;
	text-align:right;
}

#logo {
	margin:0;
    padding:30px 0;
    
}

#logo img, #logo svg {
    width:100%;
    height:auto;
    max-width:300px;
}

.photo_list {
	overflow:hidden;
	text-align:center;
}

	.photo_list li {
		display:inline-block;
		width:280px;
		height:280px;
		background:#000000;
		margin:0 8px 8px 0;
		padding:10px;
		border:1px solid #333333;
		vertical-align:top;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		-o-border-radius:7px;
		border-radius:7px;
		-moz-box-shadow:0 1px 4px #111;
		box-shadow:0 1px 4px #111;
	}
		
		.photo_list li h5 {
			color:#999999;
			font-size:14px;
			font-weight:normal;
			margin-bottom:10px;
			word-wrap:break-word;
		}

.img_prev {
	height:220px;
}

.img_data {
	overflow:hidden;
	margin-top:8px;
}

.img_data .download_link {
	color:#999999;
	font-size:.85em;
	text-decoration:none;
}

	.img_data .download_link a {
		color:#999999;
		text-decoration:none;
		display:inline-block;
		margin:0 auto;
		padding:3px 6px;
		transition:.2s all ease-in-out;
	}

	.img_data .download_link a:hover {
		color:#999999;
		background:white;
		border-radius:4px;
		color:#333;
	}

#logout {
}

#upload {
}

/*
.header_button {
	display:inline-block;
	width:120px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px 0 7px;
	font-size:11px!important;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	color:#dedede;
	
	background:#111;
	background:-moz-linear-gradient(center top , #333, #111);
	background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	border:1px solid #444;
	box-shadow:0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.5);
	text-shadow:0 -1px 0 #000000;
}

	.header_button:hover {
		color:#fff;
		text-decoration:none;
		background:#333;
		background:-moz-linear-gradient(center top , #777, #333);
		background:-webkit-gradient(linear, left top, left bottom, from(#777), to(#333));
		border:1px solid #888;
		box-shadow:0 1px 0 rgba(0, 0, 0, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(0, 0, 0, 0.5);
	}
*/

#footer {
	color:#444;
	clear:both;
	padding:5px 10px;
	text-align:right;
	font-size:.9em;
	display:block;
	margin:50px 0 0 0;
}

	#footer a {
		color:#555;
		text-decoration:underline;
	}

@media (max-width:768px) {
}
