{% set title = 'Access denied'|escape %}

<!doctype html>
<html lang="<?php echo SITE_LANG; ?>">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }} &raquo; {{ constant('THIS_INSTALL_TITLE') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <?php meta_favicon(); ?>

        <?php
            include_once INCLUDES_DIR . DS . 'assets.load.php';

            load_css_files();

            require_jquery();
        ?>
    </head>
    <body class="backend forbidden">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ title }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="whiteform whitebox">
                        <?php
                            $msg = __("Your account type doesn't allow you to view this page. Please contact a system administrator if you need to access this function.",'cftp_admin');
                            echo $msg;
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>