div.tagsinput {
	@include border-radius(5px);
	width: auto;
	height: auto;

	span.tag {
		border: 1px solid #bcd8f3;
		background: #e5f1fc;
		color: #666;
		
		a {
			color: #666;
		}
	}

	input {
		margin:0;
		background: transparent;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	.not_valid {
		@include border-radius(5px);
	}
}