{% extends 'layout.public.twig' %}

{% block title %}{{ parent() }} - Error{% endblock %}

{% block body %}

<div class="ui container">
    <p>An error occurred on the client.</p>
</div>

{% endblock %}
