{% extends 'layout.public.twig' %}

{% block title %}{{ parent() }} - Internal Server Error{% endblock %}

{% block body %}

<div class="ui container">
    <p>Internal Server Error.</p>
</div>

{% endblock %}
